# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true

[*.{js,css}]
end_of_line = lf
insert_final_newline = true
indent_style = tab
charset = utf-8

[{.jshintrc,.travis.yml,package.json}]
indent_style = space
indent_size = 4
