@charset 'UTF-8';

.green {
	color:green !important;
}
.red {
	color:red !important;
}
.orange {
	color:orange !important;
}
.blue {
	color:#00F !important;
}
.purple {
	color:#FF00FF !important;
}
.bold {
	font-weight: bold;
}

.brcImg {
	cursor: pointer;
	opacity: 0.7;
}
.brcImg:hover {
	opacity: 1.2;
}
.inboxImg {
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	height: 16px;
	width: 16px;
	border: 1px;
	opacity: 0.7;
}
.inboxImg:hover {
	opacity: 1.2;
}

.NRinfo {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 200px;
	color: #FFF;
	box-shadow: 2px 2px 2px 2px #1b1b1b;
	background-image: -moz-linear-gradient(center top ,#3F505F,	#1B1B1B);
	border: 2px double gray;
	opacity: 0.90;
	padding: 5px;
	border-radius: 5px;
}
.BRCinfo {
	position: absolute;
	left: 15%;
	width: 100px;
	color: #FFF;
	box-shadow: 2px 2px 2px 2px #1b1b1b;
	background-image: -moz-linear-gradient(center top ,#3F505F,	#1B1B1B);
	border: 2px double gray;
	opacity: 0.90;
	padding: 5px 5px 2px 5px;
	border-radius: 5px;
}