@charset 'UTF-8';

.green {
	color: green !important;
}

.red {
	color: red !important;
}

.orange {
	color: orange !important;
}

.grey {
	color: gray !important;
}

.blue {
	color: #00000F !important;
}

.purple {
	color: #FF00FF !important;
}

.bold {
	font-weight: bold;
}

.brcImg {
	cursor: pointer;
	opacity: 0.7;
}

.brcImg:hover {
	opacity: 1.2;
}

.inboxImg {
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	height: 16px;
	width: 16px;
	border: 1px;
	opacity: 0.7;
}

.inboxImg:hover {
	opacity: 1.2;
}

.unread {
	padding-left: 27px;
}

.tracker, .NRinfo, .BRCinfo, .NR {
	color: #FFFFFF;
	box-shadow: 2px 2px 2px 2px #1B1B1B;
	background-image: -moz-linear-gradient(center top, #3F505F, #1B1B1B);
	background-image: -webkit-linear-gradient(center top ,#3F505F, #1B1B1B);
	background-image: -o-linear-gradient(top, #3F505F, #1B1B1B);
	background: linear-gradient(to bottom, #3F505F, #1B1B1B);
	opacity: 0.90;
	border-radius: 5px;
}

.tracker {
	position: fixed;
	width: 200px;
	border: 2px double gray;
	padding: 5px;
}

.NR {
	position: absolute;
	width: 250px;
	border: 2px double gray;
	padding: 5px;
}

.NRinfo {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 200px;
	border: 2px double gray;
	padding: 5px;
}

.BRCinfo {
	position: fixed;
	left: 16%;
	width: 100px;
	border: 2px double gray;
	padding: 5px 5px 2px 5px;
	cursor: move;
}

.BRCinfo > span > a {
	color: #FFFFFF !important;
}

.reset {
	border: 2px solid #BEBEBE;
}

.reset:hover {
	border: 2px solid #960011;
	cursor: pointer;
}

.reset, .reset:hover {
	padding: 2px;
	border-radius: 7px;
	text-align: center;
}

.marqueebox {
	display: none;
	position: absolute;
	border: 1px solid #FFFFFF;
	top: 20px;
	text-align: center;
	border-radius: 5px;
	padding: 3px;
}

#bthead {
	cursor: move;
}

#sthead {
	cursor: move;
}

#prefsContainer {
	margin-left: 10px;
}

#jailDivleft {
	float: left;
	width: 50%;
	/* hack to make it harder for #jailDivright to wrap into next line */
	height: 500px;
}

#jailDivleft > span {
	display: inline-block;
	width: 180px;
}

#jailDivleft > input {
	width: 60px;
	text-align: center;
}

#jailDivright {
	float: left;
	width: 50%;
}

#jailDivright > span {
	display: inline-block;
	width: 180px;
}

#jailDivright > input {
	width: 60px;
	text-align: center;
}

#custom_groups > span {
	display: inline-block;
	width: 180px;
}

#custom_groups > input {
	width: 60px;
	text-align: center;
}

#OBHeaderPrefs {
	font-weight: bold;
	margin-bottom: 5px;
}

.obv {
	text-align: center;
}

span label {
	font-size: 100%;
}

.menuItem {
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	margin: 0;
	padding: 3px 15px;
	text-decoration: none;
}

.menuItem:hover {
	color: #DDDD00;
	background-color: #960011;
	cursor: pointer;
}

.dlContainer {
	float: right;
	margin-right: 5px;
	margin-top: 3px;
}

.ob-prefs-bg {
	left: 109px;
	top: 13px;
	cursor: pointer;
}

.ob-lf-bg {
	left: 85px;
	top: -10px;
	cursor: pointer;
}

.ob-prefs-img {
	position: absolute;
	top: 6px;
	left: 6px;
}

.notify {
	display: inline-block;
	text-align: left;
}

.notify label {
	padding-left: 2px;
}
