@charset 'UTF-8';

.green {
	color: green !important;
}

.red {
	color: red !important;
}

.orange {
	color: orange !important;
}

.blue {
	color: #00000F !important;
}

.purple {
	color: #FF00FF !important;
}

.bold {
	font-weight: bold;
}

.brcImg {
	cursor: pointer;
	opacity: 0.7;
}

.brcImg:hover {
	opacity: 1.2;
}

.inboxImg {
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	height: 16px;
	width: 16px;
	border: 1px;
	opacity: 0.7;
}

.inboxImg:hover {
	opacity: 1.2;
}

.tracker {
	position: fixed;
	width: 200px;
	color: #FFFFFF;
	box-shadow: 2px 2px 2px 2px #1b1b1b;
	background-image: -moz-linear-gradient(center top, #3F505F, #1B1B1B);
	background-image: -webkit-linear-gradient(center top ,#3F505F, #1B1B1B);
	background-image: -o-linear-gradient(top, #3F505F, #1B1B1B);
	border: 2px double gray;
	opacity: 0.90;
	padding: 5px;
	border-radius: 5px;
}

.reset {
	padding: 2px;
	border-radius: 7px;
	border: 2px solid #BEBEBE;
	text-align: center;
}

.reset:hover {
	padding: 2px;
	border-radius: 7px;
	border: 2px solid #960011;
	text-align: center;
	cursor: pointer;
}

.NRinfo {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 200px;
	color: #FFF;
	box-shadow: 2px 2px 2px 2px #1b1b1b;
	background-image: -moz-linear-gradient(center top, #3F505F, #1B1B1B);
	background-image: -webkit-linear-gradient(center top, #3F505F, #1B1B1B);
	background-image: -o-linear-gradient(top, #3F505F, #1B1B1B);
	border: 2px double gray;
	opacity: 0.90;
	padding: 5px;
	border-radius: 5px;
}

.BRCinfo {
	position: fixed;
	left: 16%;
	width: 100px;
	color: #FFF;
	box-shadow: 2px 2px 2px 2px #1b1b1b;
	background-image: -moz-linear-gradient(center top, #3F505F, #1B1B1B);
	background-image: -webkit-linear-gradient(center top, #3F505F, #1B1B1B);
	background-image: -o-linear-gradient(top, #3F505F, #1B1B1B);
	border: 2px double gray;
	opacity: 0.90;
	padding: 5px 5px 2px 5px;
	border-radius: 5px;
	cursor: move;
}

div.Bmsg table tr td {
	padding: 1px;
}

.marqueebox {
	display: none;
	position: absolute;
	border: 1px solid #FFF;
	top: 20px;
	text-align: center;
	border-radius: 5px;
	padding: 3px;
}

#bthead {
	cursor: move;
}

#sthead {
	cursor: move;
}

#prefsDiv {
	margin-left: 10px;
}

#jailDiv > span {
	display: inline-block;
	width: 180px;
}

#jailDiv > input {
	width: 60px;
	text-align: center;
}

#OBHeaderPrefs {
	font-weight: bold;
	margin-bottom: 5px;
}
